body{
    background-color: rgb(13, 128, 199);
}
.left-eye{
    width: 26px;
    height: 38px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 245px;
    left: 500px;
    z-index: 1;
}
.right-eye{
    width: 26px;
    height: 38px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 245px;
    left: 600px;
    z-index: 1;
}
.nose{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid rgb(199, 147, 147);
    position: relative;
    top: 250px;
    left: 523px;
    border-radius: 18px;
    z-index: 1;
}
.smile{
    width: 70px;
    height: 40px;
    position: absolute;
    top: 356px;
    left: 523px;
    z-index: 2;
}
.lips{
    width: 100%;
    height: 100%;
    background-color: pink;
    border-radius: 0 0 40px 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
.tooth{
    width: 10px;
    height: 15px;
    background: white;
    position: absolute;
    top: 0;
    border-radius: 2px;
}
.left-teeth{
    left: 25px;
    border-right: 1px solid black;
}
.right-teeth{
    right: 25px;
    border-left: 1px solid black;
}
.head{
    width: 250px;
    height: 250px;
    background-color: #ffe4c4;
    border-radius: 50%;
    position: relative;
    padding-left: 55px;
    top: 100px;
    left: 450px;
    z-index: 0;
    border: 1px solid black;
}
.neck{
    width: 105px;
    height: 35px;
    background-color: #ffe4c4;
    position: absolute;
    top: 420px;
    left:545px;
    z-index: 1;
    border: 18px;
    border-radius: 1px solid black;
    border-bottom: none;
}
.body{
    width: 200px;
    height: 240px;
    background-color: lightblue;
    border-bottom: 50px solid black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-radius: 18px;
    position: relative;
    margin-top: -20px;
    top: 135px;
    left: 496px;
    border: 1px solid black;
    border-top: none;
}
.left-hand{
    width: 45px;
    height: 222px;
    background-color: #ffe4c4;
    border-radius: 50% 50% 50% 25%;
    transform: rotate(45deg);
    position: relative;
    top: -142px;
    left: 425px;
    border: 1px solid black;
    border-top: none;
}
.right-hand{
    width: 45px;
    height: 222px;
    background-color: #ffe4c4;
    border-radius: 50% 50% 50% 25%;
    position: absolute;
    top: 425px;
    left: 614px;
    transform: translate(-30px, 0);
    transform: rotate(398deg);
    border: 1px solid black;
    border-top: none;
}
.left-leg{
    width: 95px;
    height: 145px;
    background-color: #ffe4c4;
    border-radius: 18px;
    position: relative;
    top: -90px;
    bottom: 33px;
    left: 508px;
    border: 1px solid black;
    border-top: none;
    border-left: 0.5px;
    border-right: 0.5px;
}
.right-leg{
    width: 95px;
    height: 145px;
    background-color: #ffe4c4;
    border-radius: 18px;
    position: relative;
    top: -238px;
    bottom: 33px;
    left: 605px;
    border: 1px solid black;
    border-top: none;
    border-left: 0.5px;
    border-right: 0.5px;
}
.box{
   top: -280px;
   left: 450px;
   position: relative;
}
.board{
   width: 200px;
   height: 45px;
   display: inline-block;
   background-color: rgb(234, 164, 77);
   border: 5px solid brown;
   border-radius: 18px; 
   text-align: center;
   position: relative;
   top: -195px;
   left: -95px;
}
.frock{
    width: 205px;
    height: 140px;
    position: absolute;
    top: 356px;
    left: 520px;
    z-index: 2;
}
.middy{
    width: 100%;
    height: 100%;
    background-color: violet;
    border-radius: 0 0 40px 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    top:300px;
    left: -15px;
}
.shirt{
    width: 110px;
    height: 50px;
    position: absolute;
    top: 256px;
    left: 513px;
    z-index: 2;
}
.top{
     width: 100%;
    height: 100%;
    background-color: #ffe4c4;
    border-radius: 0 0 40px 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-top: none;
    top:195px;
    left: 29px;
}